.container {
  input {
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: #b3b3b1;
    }
  }

  .editor {
    position: relative;
    display: flex;
    gap: 20px;
    height: 700px;

    button {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid var(--textColor);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    img {
      height: 16px;
      width: 16px;
    }

    .add {
      display: flex;
      gap: 20px;
      background-color: var(--bg);
      position: absolute;
      z-index: 99;
      width: 100%;
      left: 50px;

      .addBtn {
        border-color: #1a8917;
      }
    }

    .textArea {
      width: 100%;
    }
  }

  .publish {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
}
