.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  .social {
    display: flex;
    gap: 10px;
    flex: 1;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .logo {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 20px;
  }
}
